<template>
    <div id="todo-list-example" class="container">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <h1 class="text-center">TODO List App</h1>
                <form v-on:submit.prevent="addNewTask">
                    <label for="tasknameinput">Task Name</label>
                    <input v-model="taskname" type="text" id="tasknameinput" class="form-control" placeholder="Add New Task">
                    <button v-if="this.isEdit == false" type="submit" class="btn btn-success btn-block mt-3">submit</button>
                    <button v-else type="button" v-on:click="updateTask" class="btn btn-info btn-block mt-3">Update</button>
                </form>

                <table class="table">
                    <tr v-for="(todo) in todos"
                    v-bind:key="todo.id"
                    v-bind:title="todo.task_name">
                    <td class="text-left">{{todo.task_name}}</td>
                    <td class="text-right">
                        <button class="btn btn-info" v-on:click="editTask(todo.task_name, todo.id)">Edit</button>
                        <button class="btn btn-danger" v-on:click="deleteTask(todo.id)">Delete</button>
                    </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
import axios from 'axios'

export default {
    data () {
        return {
            todos:[],
            id:'',
            taskname:'',
            isEdit:false
        }
    },
    mounted () {
        this.getTask()
    },
    methods: {
        getTask () {
            axios.get("/api/tasks").then(
                result => {
                    this.todos = result.data
                },
                error=> {
                    console.log(error)
                }
            )
        },
        addNewTask (){
            axios.post("/api/task", { task_name: this.taskname })
            .then((res) => {
                this.taskname = '',
                this.getTask()
            }).catch((err) => {
                console.log(err)
            })
        },
        editTask (title, id){
            this.id = id,
            this.taskname = title,
            this.isEdit = true
        },
        updateTask (){
            axios.put(`/api/task/${this.id}`,
            { task_name: this.taskname })
            .then((res) => {
                this.taskname = ''
                this.isEdit = false
                this.getTask()
            }).catch((err) => {
                console.log(err)
            })
        },
        deleteTask (id) {
            axios.delete(`/api/task/${id}`)
            .then((res) => {
                this.taskname = ''
                this.getTask()
            }).catch((err) => {
                console.log(err)
            })
        }
    }
}
</script>